* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: grey;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.input-wrapper {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-inline: 10px;
  position: relative;
  width: fit-content;
}

input {
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 20px;
  outline: none;
  width: 500px;
}

.result {
  background-color: white;
  border-radius: 30px;
  display: none;
  left: 0;
  padding: 60px 55px 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

p {
  line-height: 30px;
}

.highlight {
  background-color: yellow;
}
